
body, html
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color:white;
}

header
{
    display: flex;
    margin-top: 25px;
    margin-left: 25px;

    img
    {
        margin-right: 80px;
        border-radius: 100%;
        border: 1px black solid;
    }

    h1
    {
        color: rgb(99, 144, 212);
        margin-top: 70px;
        margin-bottom: 55px;
    }
    p
    {
        margin-top: -10px;
    }
}

.break_line
{
    border: 1px rgb(99, 144, 212) solid;
    margin-top: 50px;
    margin-left: 7%;
    margin-right:7%;
}