
body, html
{
    /* margin: 0;
    padding: 0; */
    font-family: 'Open Sans', sans-serif;
    background-color:white;
}

header
{
    display: flex;
    margin-top: 25px;
    margin-left: 25px;

    img
    {
        margin-right: 80px;
        border-radius: 100%;
        border: 1px black solid;
    }

    h1
    {
        color: rgb(99, 144, 212);
        margin-top: 70px;
        margin-bottom: 55px;
    }
    p
    {
        margin-top: -10px;
    }
}

.break_line
{
    border: 1px rgb(99, 144, 212) solid;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 25px;
}

.fat_line
{
    border: 3px rgb(99, 144, 212) solid;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 7%;
    margin-right:7%;
}

.info
{
    h3
    {
        color:rgb(99, 144, 212);
        margin-left: 80px;
        margin-bottom: 1px;
    }

    p
    {
        text-align: left;
        margin-left: 90px;
        margin-right: 90px;
        margin-bottom: 25px;
    }

    #school
    {
        margin-left: 90px;
        margin-bottom: 25px;
    }

    ol
    {
        margin-left: 90px;
    }
}